div(id="output")
canvas(id="canvas")
script(type='text/javascript', src='js/engine.js')
script(type='text/javascript', src='js/engine.screen.js')
script(type='text/javascript', src='js/engine.viewport.js')
script(type='text/javascript', src='js/engine.map.js')
script(type='text/javascript', src='js/engine.tile.js')
script(type='text/javascript', src='js/engine.keyboard.js')
script(type='text/javascript', src='js/engine.player.js')
script
  canvas.width = document.width;
  canvas.height = document.height;
  $(document).ready(function() {
    $.ajax({
      url: 'map.json',
      dataType: 'json',
      async: false,
      success: function(json) { window.mapone = json; }
    });
    engine.start(window.mapone, 0, 0);   //change the last parameters to 'move' the map.
  });
  window.addEventListener('keydown', engine.keyboard.parseInput, false);

