div(id="output")
canvas(id="canvas")

script(type='text/javascript', src='js/engine.js')
script(type='text/javascript', src='js/engine.screen.js')
script(type='text/javascript', src='js/engine.viewport.js')
script(type='text/javascript', src='js/engine.map.js')
script(type='text/javascript', src='js/engine.tile.js')
script(type='text/javascript', src='js/engine.keyboard.js')
script(type='text/javascript', src='js/engine.player.js')
script
  $(document).ready(function() {
    $.ajax({
      url: 'map.json',
      dataType: 'json',
      async: false,
      success: function(json) { window.mapone = json; }
    });
    var canvas = document.getElementById("canvas");
    var viewportWidth = window.innerWidth;
    var viewportHeight = window.innerHeight;
    canvas.setAttribute("width", viewportWidth);
    canvas.setAttribute("height", viewportHeight);

    engine.start(window.mapone, 0, 0);
  });
  window.addEventListener('keydown', engine.keyboard.parseInput, false);

